$accent: #f55;
$accent-hover: #f88;

$border: #d9d9d9;

$text: #000;
$hint: #7e7e7e;

$background: #fff;
$background-disabled: #f9f9f9;
$background-selected: #f1f1f1;
$background-opacity: #fff8;

$card-hover: #b5b5b540;
$link-hover: #208fbf;
$star-accent: #ff9432;
