@use '~styles/color';

.icon {
  width: 16px;
  vertical-align: middle;
}

.added {
  fill: color.$star-accent;
}

.modified {
  fill: color.$link-hover;
}

.removed {
  fill: color.$accent;
}

.renamed {
  fill: color.$accent-hover;
}

.unknown {
  fill: color.$background-selected;
}
