@use '~styles/size';
@use '~styles/mixin';
@use '~styles/themes' as t;

$mark-pos: rotate(45deg) translate(-10%, -20%);

@mixin checkMark($value) {
  @include t.themify {
    $mark: 3px solid t.getValue($value);
    border-right: $mark;
    border-bottom: $mark;
  }
}

.root {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  @include t.color('text');
  cursor: pointer;
  user-select: none;

  &_disabled {
    opacity: 0.5;
    cursor: default;
  }

  &__checkbox {
    -webkit-appearance: none;
    appearance: none;

    display: inline-block;
    @include mixin.square(30px);
    position: relative;

    @include t.background;
    @include mixin.border;
    @include mixin.fast-trans(border-color);

    cursor: pointer;

    &:hover {
      @include t.border('accentHover');
    }

    &:focus {
      @include t.border('accent');
    }

    &:disabled,
    &[aria-disabled='true'] {
      cursor: default;
    }

    &::before {
      content: '';
      @include mixin.inset;
      height: 50%;
      width: 30%;
      margin: auto;
      @include checkMark('accent');
      transform: scale(0) $mark-pos;
      @include mixin.fast-trans(transform);
    }

    &:checked::before {
      transform: scale(1) $mark-pos;
    }

    &:indeterminate::before,
    &[aria-checked='mixed']::before {
      height: 0;
      width: 40%;
      border-width: 2px;
    }
  }
}
