@use '~styles/color';
@use '~styles/size';
@use '~styles/mixin';

$mark: 3px solid color.$accent;
$mark-pos: rotate(45deg) translate(-10%, -20%);

.root {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &_disabled {
    opacity: 0.5;
    cursor: default;
  }

  &__checkbox {
    -webkit-appearance: none;
    appearance: none;

    display: inline-block;
    @include mixin.square(30px);
    position: relative;

    background: color.$background;
    @include mixin.border;
    @include mixin.fast-trans(border-color);

    cursor: pointer;

    &:disabled,
    &[aria-disabled='true'] {
      cursor: default;
    }

    &::before {
      content: '';
      @include mixin.inset;
      height: 50%;
      width: 30%;
      margin: auto;
      border-right: $mark;
      border-bottom: $mark;
      transform: scale(0) $mark-pos;
      @include mixin.fast-trans(transform);
    }

    &:checked::before {
      transform: scale(1) $mark-pos;
    }

    &:focus {
      border-color: color.$accent;
    }

    &:indeterminate::before,
    &[aria-checked='mixed']::before {
      height: 0;
      width: 40%;
      border-width: 2px;
    }
  }
}
