@use '~styles/mixin';
@use '~styles/themes' as t;

@mixin size($size, $stroke) {
  @include mixin.square($size);
  border-width: $stroke;
}

.root {
  border-color: currentColor;
  border-top-color: transparent;

  border-style: solid;
  border-radius: 50%;
  transform: rotate(35deg);
  animation: rotate 3s linear infinite;

  opacity: 0;
  @include mixin.slow-trans(opacity);

  &_loading {
    opacity: 1;
  }

  &_primary {
    @include t.color('accent');
  }

  &_secondary {
    @include t.color('background');
  }

  &_size-l {
    @include size(60px, 6px);
  }

  &_size-m {
    @include size(40px, 5px);
  }

  &_size-s {
    @include size(20px, 3px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
