@use '~styles/size';
@use '~styles/mixin';
@use '~styles/themes' as t;

.root {
  min-width: 250px;
  width: 100%;
  @include mixin.border;
  @include t.background;

  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 12px;

  @include mixin.fast-trans(box-shadow);

  &:hover {
    @include t.themify {
      box-shadow: 0px 2px 6px t.getValue('cardHover');
    }
  }

  &__side {
    position: relative;
    flex-shrink: 0;
    @include mixin.circle;
    overflow: hidden;
    @include t.color('background');
  }

  &__placeholder,
  &__avatar {
    @include mixin.square(size.$card-avatar);
  }

  &__placeholder {
    z-index: 0;
    @include mixin.inset;
    display: grid;
    place-content: center;
    font-size: calc(size.$card-avatar / 2);
    font-weight: bold;
    @include t.color('background');
    @include t.background('accent');
    @include mixin.slow-trans(opacity);
  }

  &__avatar {
    position: relative;
    z-index: 1;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
    font-size: 0;
    @include mixin.slow-trans(opacity);
  }

  &__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    overflow: hidden;
    @include t.color('hint');
  }

  &__item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    @include t.color;
  }
}

.hidden {
  opacity: 0;
}
