@use '~styles/mixin' as m;
@use '~styles/themes' as t;

.root {
  @include t.background('accent');

  &__content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 50px;

    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 400px) {
      padding: 10px 20px;
    }
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    @include t.color('background');
    user-select: none;
    cursor: default;

    svg {
      flex-shrink: 0;
      display: block;
      @include m.square(40px);
      @include t.fill('background');
      transform: rotate(15deg);
      @include m.fast-trans(transform);
    }

    &:hover svg {
      transform: rotate(0deg);
    }
  }

  &__switch {
    justify-self: right;
  }
}
