.main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: var(--color-background-selected);
  border-radius: 6px;
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 20px 30px;

  @media (max-width: 400px) {
    flex-wrap: wrap;
  }
}

.repo {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .name {
    margin: 0;
    font-size: 30px;
    overflow-wrap: break-word;

    svg {
      width: 30px;
      margin-right: 5px;
      vertical-align: middle;
      fill: var(--color-hint);
    }
  }

  p {
    margin: 0;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--color-background);
    color: var(--color-hint);
    font-size: 16px;
  }
}

.owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 5px;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  background-color: var(--color-background);

  img {
    display: block;
    width: 150px;
  }
}

.link {
  color: var(--color-hint);
  text-decoration: none;

  &:hover {
    color: var(--color-link-hover);
  }
}

.date {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: right;
  align-items: center;
  gap: 10px 5px;

  div:nth-child(2n + 1) {
    color: var(--color-accent);
    font-weight: bold;
  }

  div:first-child {
    color: var(--color-accent-hover);
  }

  div:nth-child(2n) {
    padding: 2px 4px;
    background-color: var(--color-accent-hover);
    border-radius: 6px;
    color: var(--color-background);
    font-family: monospace;
  }

  div:last-child {
    background-color: var(--color-accent);
  }
}

.lang {
  display: flex;
  justify-content: right;

  div {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: var(--color-background);
    border-radius: 6px;
    font-family: monospace;
  }

  img {
    width: 30px;
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
  font-family: monospace;
  font-size: 16px;
  color: var(--color-background);

  div {
    padding: 5px 10px;
    background-color: var(--color-star-accent);
    border-radius: 12px;
  }

  svg {
    width: 16px;
    fill: var(--color-background);
  }
}

.topics {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 5px 10px;
    background-color: var(--color-accent-hover);
    color: var(--color-background-selected);
    border-radius: 12px;
    font-family: monospace;
  }
}
