@use '~styles/size';
@use '~styles/mixin';
@use '~styles/themes' as t;

@mixin size($h, $w, $p, $f) {
  height: calc(size.$height - $h);
  max-width: calc(size.$input-width - $w);
  padding: $p;
  font-size: $f;
}

.root {
  width: 100%;
  outline: none;
  @include t.background;
  @include t.color;
  @include mixin.border;
  @include mixin.fast-trans(border-color);

  &:hover {
    @include t.border('accentHover');
  }

  &:focus {
    @include t.border('accent');
  }

  &:disabled {
    @include t.background('backgroundDisabled');
    @include t.color('hint');
    cursor: default;
  }

  &::placeholder {
    @include t.color('hint');
  }

  &_size {
    &-l {
      @include size(0px, 0px, 12px, 14px);
    }

    &-m {
      @include size(10px, 45px, 10px, 13px);
    }

    &-s {
      @include size(20px, 90px, 8px, 12px);
    }
  }
}
