.main {
  height: var(--height);
  width: var(--width);
  padding: var(--padding);
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--font-size);

  &:focus {
    border-color: var(--color-accent);
  }

  &:disabled {
    background-color: var(--color-background-disabled);
    color: var(--color-hint);
    cursor: not-allowed;
  }

  &::placeholder {
    color: var(--color-hint);
  }
}

.size {
  &_l {
    --height: 50px;
    --width: 295px;
    --padding: 0 12px;
    --font-size: 14px;
  }

  &_m {
    --height: 40px;
    --width: 250px;
    --padding: 0 10px;
    --font-size: 13px;
  }

  &_s {
    --height: 30px;
    --width: 200px;
    --padding: 0 8px;
    --font-size: 12px;
  }
}
