@use '~styles/themes' as t;

.root {
  padding: 5px 10px;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  font-family: monospace;

  @include t.themify {
    $c0: t.getValue('background');
    $c1: t.getValue('linkHover');

    color: $c0;
    background-image: linear-gradient(120deg, $c0 10%, $c1 90%);
    box-shadow: inset 0 0 1px $c1;
  }

  img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 0;
  }
}

.lang {
  font-weight: bold;
  padding: 0 5px;

  @include t.themify {
    filter: drop-shadow(0 0 3px t.getValue('linkHover'));
  }
}
