.card {
  --avatar-size: 80px;
  --color-main: #7e7e7e;
  --color-title: #000;

  width: 357px;
  height: 104px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background: #fff;

  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 0 12px;

  &:hover {
    box-shadow: 0px 2px 6px hsla(0, 0%, 71%, 0.25);
  }

  &__side {
    position: relative;
    width: var(--avatar-size);
    height: var(--avatar-size);
    flex-shrink: 0;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
  }

  &__placeholder {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--avatar-size);
    height: var(--avatar-size);
    display: grid;
    place-content: center;
    font-size: calc(var(--avatar-size) * 0.5);
    font-weight: bold;
    color: #fff;
    background-color: var(--color-primary);
  }

  &__avatar {
    position: relative;
    z-index: 1;
    display: block;
    width: var(--avatar-size);
    height: var(--avatar-size);
    object-fit: cover;
    object-position: 50% 50%;
    font-size: 0;
    transition: opacity 500ms ease;

    &_hidden {
      opacity: 0;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    overflow: hidden;

    color: var(--color-main);
  }

  &__item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-title);
  }
}
