@use '~styles/mixin';
@use '~styles/themes' as t;

.root {
  padding: 0 20px 20px;
  @include mixin.border;
  @include t.background;
  @include t.color;
}

.code {
  white-space: pre-wrap;
  word-break: keep-all;
}
