.main {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  text-align: center;
}

.size {
  &_l {
    --width: 200px;
  }

  &_m {
    --width: 150px;
  }

  &_s {
    --width: 100px;
  }
}
