@use '~styles/themes' as t;

.card {
  @include t.background;
  cursor: pointer;
}

.link {
  @include t.color('hint');
  text-decoration: none;

  &:hover {
    @include t.color('linkHover');
  }
}

.content {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.stars {
  display: flex;
  align-items: center;
  column-gap: 4px;

  svg {
    width: 16px;
    @include t.fill('starAccent');
  }
}
