@use '~styles/themes' as t;
@use '~styles/mixin' as m;

.root {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  @include t.color;

  &__counter {
    text-align: center;
    vertical-align: middle;
  }

  &__input {
    width: 60px;
    font-size: 20px;
    text-align: right;
  }

  &__icon {
    display: block;
    object-fit: cover;
    @include m.square(25px);

    &_first,
    &_prev {
      transform: rotate(-90deg);
    }

    &_last,
    &_next {
      transform: rotate(90deg);
    }
  }
}
