.button {
  --height: 50px;

  height: var(--height);
  min-width: var(--height);
  max-width: calc(var(--height) * 5);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  display: flex;
  align-items: center;
  padding: 0 24px;
  border: none;
  border-radius: 6px;

  color: var(--color-background);
  background-color: var(--color-accent);
  font-size: 23px;
  transition-property: color, fill, border-color, background-color, box-shadow;
  transition-duration: 200ms;

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  color: var(--color-background);
  background-color: var(--color-accent);

  &:hover {
    background-color: var(--color-accent-hover);
  }
  &:disabled {
    background-color: var(--color-border);
  }
}

.secondary {
  color: var(--color-accent);
  background-color: var(--color-background);

  --color-shadow: var(--color-accent);
  box-shadow: inset 0 0 0 4px var(--color-shadow);

  &:hover {
    --color-shadow: var(--color-accent-hover);
    color: var(--color-accent-hover);
  }
  &:disabled {
    --color-shadow: var(--color-border);
    color: var(--color-border);
  }
}
