@use '~styles/size';
@use '~styles/mixin';
@use '~styles/themes' as t;

.root {
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 1px;

  @include mixin.border;

  @include t.background('border');
  @include t.color;

  overflow: hidden;
}
