@use '~styles/size';
@use '~styles/color';
@use '~styles/mixin';

.root {
  width: size.$input-width;
  display: flex;
  flex-direction: column;
  row-gap: 1px;

  @include mixin.border;

  background-color: color.$border;
  color: color.$text;

  overflow: hidden;
}
