.root {
  max-width: 380px;
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 20px 0;

  &__section {
    display: flex;
    justify-content: center;
  }
}
