@use '~styles/color';
@use '~styles/mixin';

.root {
  position: relative;

  &_loading {
    min-height: 100px;
    min-width: 300px;
  }

  &__cover {
    z-index: 1;
    @include mixin.inset;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
    background: transparent;
    backdrop-filter: blur(0);
    @include mixin.loader-trans(background-color, filter, backdrop-filter);

    &_loading {
      pointer-events: all;
      background: color.$background-loader;
      backdrop-filter: blur(1px);
    }
  }

  &__message {
    display: flex;
    gap: 20px;
    align-items: center;
    color: color.$hint;
    font-size: 20px;
    user-select: none;

    opacity: 0;
    @include mixin.loader-trans(opacity);

    &_loading {
      opacity: 1;
    }
  }
}
