@use '~/App/styles/color';

.root {
  position: relative;
  min-height: 100px;
  min-width: 300px;

  &__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: color.$background-opacity;
    backdrop-filter: blur(4px);
  }

  &__message {
    display: flex;
    gap: 20px;
    align-items: center;
    color: color.$hint;
    font-size: 20px;
  }
}
