.loading {
  column-gap: 8px;
  padding: 0 10px;
}

.loading.primary {
  border-color: var(--color-accent-hover);
  background-color: var(--color-accent-hover);

  .loader {
    --color: var(--color-background);
  }
}

.loading.secondary {
  color: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
  --color-shadow: var(--color-accent-hover);

  .loader {
    --color: var(--color-accent-hover);
  }
}
